<main class="w-full h-screen bg-radial-[at_50%_75%] from-teal-200 via-blue-400 to-blue-900">
    <div class="absolute inset-0 overflow-auto">
        <div class="flex items-center justify-center min-h-full p-4 sm:p-6 lg:p-8">
            <div
                class="bg-white shadow-xl rounded-xl p-4 sm:p-6 lg:p-8 w-full max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl">
                <div class="text-black text-lg sm:text-xl lg:text-2xl font-bold text-center mb-2 sm:mb-3">
                    Bienvenido a Tracking App
                </div>
                <div class="mb-4 sm:mb-6">
                    <p class="text-gray-600 text-xs sm:text-sm lg:text-base text-center">
                        Esta es una aplicación de seguimiento para gestionar tus tareas y
                        proyectos.
                    </p>
                </div>
                <router-outlet />
            </div>
        </div>
    </div>
</main>

<!-- 456754 -->
<!-- 9afec6 -->