<app-nav />

<main class="pt-16 h-screen bg-gray-300">

    <div class="h-full overflow-x-auto">

        <div class="flex h-full min-w-max">

            @for (item of columns; track $index) {
            <div class="flex-shrink-0 p-4 h-full">
                <div class="w-80 h-full bg-white rounded-lg shadow-md overflow-y-auto">
                    <app-list-process [status]="item.name" [connectedDropLists]="allDropListIds" />
                </div>
            </div>
            }

        </div>

    </div>

</main>